{% extends 'layout.html' %}
{%block title%} Test Stechs {%endblock%}
{%block body%}
<div class="row">
    <div class="col-md-12">
        {% with messages = get_flashed_messages(with_categories = true ) %} {% if messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
    </div>
    {% endfor %} {% endif %}{% endwith %}
</div>
<div class="container">
    <div class="row mt-4">
      <div class="col">
          <h5>Su busqueda "{{vendor}}" no arrojo resusltados. Quizas desea configurar su busqueda como TAG que alguna de las siguientes empresas</h5>
            {%for fabricante in Fabricantes%}
            <li>{{fabricante}}</li>
            {%endfor%}
        </div>

    </div>
</div>
{%endblock%}