{% extends 'layout.html' %}
{%block title%} Test Stechs {%endblock%}
{%block body%}
<div class="row">
    <div class="col-md-12">
        {% with messages = get_flashed_messages(with_categories = true ) %} {% if messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
    </div>
    {% endfor %} {% endif %}{% endwith %}
</div>
<div class="container">
    <div class="row mt-4">

 
        <div class="col text-center">
            <h3>Listar no Disponibles</h3>
            <label for="Fabricante">Ingrese un fabricante</label>
            <form action="/listar_no_habilitados" method="post" >
                <input type="text" placeholder="Ingrese un modelo" name="vendor" class="form-control">
                <button type="submit" class="btn btn-success mt-2" >Buscar</button>
            </form>
        </div>
        
        <div class="col">
            <h3>Obtener Estadisticas</h3>
            <form action="/estadisticas" method="post">
            <label for="Fabricante">Seleccione un fabricante</label>
            <select name="fabricante" id="fabricante" class="form-control">
                {%for fabricante in Listado%}
                    {%if fabricante.0==''%}
                    <option value="{{fabricante.0}}">Sin Nombre</option>
                    {%endif%}
                    {%if fabricante.0!=''%}
                    <option value="{{fabricante.0}}">{{fabricante.0}}</option>
                    {%endif%}
                {%endfor%}
            </select>
            <label for="modelo">Modelo</label>
            <select id="optionmodelos" class="form-control" name="modelo">

            </select>
            <button type="submit" class="btn btn-success mt-2" >Ver Estadisticas</button>
        </form>
        </div>
        
    </div>
</div>


<script>
const Fabricante = document.getElementById('fabricante');
console.log(Fabricante)
Fabricante.addEventListener('change', (event) => {
    $.ajax({
                url: 'buscarmodelos',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify([{
                    "Fabricante": Fabricante.value
                }]),
                success: function (data) {
                    if (data.Mensaje == 'Correcto') {
                        console.log('Anduvo')
                        listaModelos = [] //lista de id de las prestaciones
                        Modelo=(data.Modelos).map((item) => '<option value='+item[0]+'>'+item[0]+'</option>')
                        Modelo='<option value=Todos>Todos los Modelos</option>'+Modelo
                        $("#optionmodelos").html(Modelo)
                    }
                }
            });
});
</script>
{%endblock%}